ProductivitySniplets/ProductivitySniplets/obj/
ProductivitySniplets/.vs/
ProductivitySniplets/Repositorys/obj/
ProductivitySniplets/Repositorys/bin/
ProductivitySniplets/Entities/obj/
ProductivitySniplets/Entities/bin/
ProductivitySniplets/Contracts/obj/
ProductivitySniplets/Contracts/bin/
